<div class="jumbotron" id="banner">
  <h1>Nutrition Tracker</h1>
  <p>Nutrition Tracker is a web application that allows you track and visualize your daily intake of protein, fat, and carbohydrate.</p>
  <p>It allows you choose how many calories and in what macronutrient ratio you wish to consume daily.</p>
  <p>It requires you to log your meals using FatSecret either on the web or through its mobile app. If you do not currently use FatSecret, <a href="http://www.fatsecret.com/">sign up now.</a></p>
  <div>
    <h3><b>Getting Started:</b></h3>
    <ol>
      <li>Sign up for an account</li>
      <li>Link your account to FatSecret</li>
      <li>Track your progress!</li>
    </ol>
    <p><%= link_to 'Sign Up', signup_path, :class => "btn btn-primary btn-lg" %></p>
    <div class="pull-right">
      <a href="http://platform.fatsecret.com">
        <img src="http://platform.fatsecret.com/api/static/images/fatsecret_platform_120_17.gif" border="0">
      </a>
    </div>
  </div>
  <div>
    <%= image_tag('demo.png', :class => "img-responsive")%>
  </div>

</div>